* {
  box-sizing: border-box;
}

body, html {
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: 'Teko', sans-serif;
  color: #231010;
}

/* a {
  text-decoration: none;
  color: #231010;
  font-weight: bold;
  transition: color .1s;
} */

a:hover {
  color: #A7A7A7;
}

button {
  background-color: #231010;
  border: 0;
  padding: 1%;
  color: white;
  font-weight: bold;
  transition: background-color .1s;
  cursor: pointer;
  border-radius: 5px;
}

button:hover {
  background-color: #A7A7A7;
}

.post-list {
  margin: 0;
  padding: 0;
}

textarea, input {
  padding: .5%;
  border-radius: 5px;
  border: 1px solid #D9EAD3;
}

textarea:focus, input:focus {
  outline: none;
  border: 1px solid #A7A7A7;
}

textarea {
  min-width: 40%;
  min-height: 100px;
}

form > div {
  margin-bottom: 2%;
}

form label {
  display: block;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  background-color: #D9EAD3;
}

header {
  background-color: #231010;
  max-height: 80px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 3%;
}

header h1 {
  font-size: 3em;
}

.home {
  color: #D9EAD3;
  text-decoration: none;
}

.title-header {
  color: #231010;
  text-decoration: none;
  font-size: 24px;
}

main {
  flex: 1;
  padding: 2% 4%;
}

.btn-no-style {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  text-decoration: none;
  color: #D9EAD3;
  font-size: 24px;
  font-weight: bold;
  transition: color .1s;
  margin-left: 16px;
  font-family: 'Teko', sans-serif;
}

.btn-no-style:hover {
  background: none;
  color: #A7A7A7;
}

.login-btn-no-style {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  text-decoration: none;
  color: #D9EAD3;
  font-size: 24px;
  font-weight: bold;
  transition: color .1s;
  margin-left: 16px;
}

.login-btn-no-style:hover:hover {
  background: none;
  color: #A7A7A7;
}

.dashboard-btn {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  text-decoration: none;
  color: #D9EAD3;
  font-size: 24px;
  font-weight: bold;
  transition: color .1s;
  margin-left: 16px;
  font-family: 'Teko', sans-serif;
}

.dashboard-btn:hover {
  background: none;
  color: #A7A7A7;
}

.delete-post-btn {
  background-color: #231010;
}

.delete-post-btn:hover {
  background-color: #A7A7A7;
}

.post {
  margin-bottom: 2%;
  line-height: 150%;
}

.post .title span {
  font-style: italic;
  font-size: 90%;
  color: #7d7d7d;
}

.edit-link {
  display: block;
  margin: -1.5% 0 2% 0;
  color: #7d7d7d;
}

.upvote-btn {
  background-color: #231010;
  transition: background-color .1s;
}

.upvote-btn:hover {
  background-color: #A7A7A7;
}

.comment-form {
  margin-bottom: 5%;
}

.comment {
  padding: 1%;
  margin-bottom: 1%;
}

.comments {
  color: #7d7d7d;
}

.comment:nth-child(odd) {
  background-color: #fff5eb;
}

.comment .meta {
  font-size: 90%;
  margin-bottom: .5%;
  opacity: .6;
}

.new-post-form input {
  width: 300px;
}

.edit-post-form {
  margin-bottom: 5%;
}

footer {
  border-top: 1px solid #231010;
  display: flex;
  justify-content: center;
  padding: 1%;
  font-size: 24px;
}